<p id="notice"><%= notice %></p>

<p>
  <b>Descrption:</b>
  <%= @classification.descrption %>
</p>


<%= link_to 'Edit', edit_classification_path(@classification) %> |
<%= link_to 'Back', classifications_path %>
